{% macro render_pagination(pagination) %}
  <div class="pagination">
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a href="{{ url_for_different_page(page) }}">{{ page }}</a>
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {%- endfor %}
  {% if pagination.has_next %}
    <a href="{{ url_for_different_page(pagination.next_num) }}">Next &raquo;</a>
  {% endif %}
  </div>
{% endmacro %}

{% macro render_books(books, render_controls=False) %}
    {% for book in books %}
        <li class="entry">
            {% if render_controls %}
                <div class="control">
                    <a href="{{ url_for('edit_book', id=book.id) }}" class="edit_entry_link">edit</a>
                    <a href="{{ url_for('delete_book', id=book.id) }}" class="delete_entry_link">delete</a>
                </div>
            {% endif %}
            <h2>{{ book.title|wordwrap(18, True) }}</h2>
            {% with authors = book.authors_names %}
                {% if authors %}
                    by {{ book.authors_names|join(', ')|wordwrap(18, True) }}
                {% else %}
                    no authors information
                {% endif %}
            {% endwith %} 
        </li>
    {% endfor %}
{% endmacro %}