{% extends "base.html" %}
{% block content %}
<h2>Add new author</h2>
<form action="" method="post" name="edit">
    {{form.hidden_tag()}}
    <table>
        <tr>
            <td>Name:</td>
            <td>
                {{ form.name(size=48, class="styled-input") }}
                {% for error in form.errors.name %}
                    <br><span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add author"></td>
        </tr>
    </table>
</form>
{% endblock %}
