{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/token-input.css') }}" />
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/lists_management.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jquery-tokeninput/src/jquery.tokeninput.js') }}"></script>
    <script src="{{ url_for('static', filename='js/authors_autocomplite.js') }}"></script>
{% endblock %}

{% block content %}
{% if 'add' in request.path %}
    <h2>Add new book</h2>    
{% else %}
    <h2>Edit book</h2>
{% endif %}

<form action="" method="post" name="edit" id="bookform">
    {{form.hidden_tag()}}
    <table>
        <tr>
            <td>Title:</td>
            <td>
                {{ form.title(size = 48, class="styled-input") }}
                {% for error in form.errors.title %}
                    <br><span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Authors:</td>
            <td>
                {{ form.authors(size=48) }}
                {% for error in form.errors.authors %}
                    <br><span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td><span class="hidden json_autocomplite_init_data">{{ form.authors.json_data }}</span></td>
            <td><input type="submit" value="Add Book"></td>
        </tr>
    </table>
</form>
{% endblock %}
