{% extends "base.html" %}
{% from '_macros.html' import render_pagination, render_books %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/lib/jquery-tokeninput/styles/token-input.css') }}" />
{% endblock %}
{% block extra_js %}
    <script src="{{ url_for('static', filename='js/lists_management.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jquery-tokeninput/src/jquery.tokeninput.js') }}"></script>
    <script src="{{ url_for('static', filename='js/authors_autocomplite.js') }}"></script>
{% endblock %}

{% block content %}
    <ul class="entries">
        {% if g.user.is_authenticated() %}
            <li class="entry"><a href="{{ url_for('add_book') }}" class="">Add book</a></li>
        {% endif %}    
        {{ render_books(pagination.items, render_controls=g.user.is_authenticated()) }}
    </ul>
    {{ render_pagination(pagination) }}
{% endblock %}
