{% extends "base.html" %}
{% block content %}
{% if 'add' in request.path %}
    <h2>Add new author</h2>
{% else %}
    <h2>Edit author info</h2>
{% endif %}
<form action="" method="post" name="edit">
    {{form.hidden_tag()}}
    <table>
        <tr>
            <td>Name:</td>
            <td>
                {{ form.name(size=48, class="styled-input") }}
                {% for error in form.errors.name %}
                    <br><span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="{% if 'add' in request.path %}Add author{% else %}Edit{% endif %}"></td>
        </tr>
    </table>
</form>
{% endblock %}
